<html> 
    <head>
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css"/>
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-reboot.css"/>
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-grid.css"/>
        <script src="/static/bootstrap/js/bootstrap.js"></script>
    </head>

    <body style="background-color: #ffe6ff">       
<nav style="background-color: #50216e; height:200px; width:100%" class="navbar navbar-expand-md mb-3">
        <a style="margin-left:20px;"href="#">
        <img src="/static/images/dstormlogo2.png" height="100" width="350"
            style="background-color: white;" class="img-thumbnail" alt="Thumbnail Image"/>
        </a>
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div style="margin: 0 auto;margin-left:10%;" class="navbar-nav">
                <div class="btn-group">
                    <a style="font-color: white;font-weight:bold;" href="/" class="btn btn-secondary active">
                        <i class="fa fa-home"></i> Home
                    </a>
                    <a style="font-color: white;font-weight:bold;" href="/upload_files" class="btn btn-secondary"> 
                        Manage experiment files 
                    </a>
                    <a style="font-color: white;font-weight:bold;" href="/runscan" class="btn btn-secondary"> 
                        Run scan 
                    </a>
                    <a style="font-color: white;font-weight:bold;" href="/runprescan" class="btn btn-secondary"> 
                        Pre scan 
                    </a>
                </div>
            </div>
        </div>
    </div>    
</nav>

<script>

</script>
        </div> 
   </body> 
</html> 